body {
  font-family: Arial;
  padding: 15px;
}

.card {
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
}